# Виртуальное окружение (оно весит много, на сервере создадим новое)
venv/
__pycache__/
*.pyc

# Файлы с секретами (ключи, пароли и т.д.)
.service
.env

# База данных (чтобы локальная тестовая база не затерла реальную на сервере)
*.db
*.sqlite3

# Кэш питона (мусорные файлы)
__pycache__/
*.py[cod]

# Настройки IDE (лишнее)
.idea/
.vscode/

# Системные файлы Mac (если ты на маке)
.DS_Store