<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}GLAM NAILS MILANO{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="style.css">

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    
    {% block head %}{% endblock %}

</head>
<body>
    <header class="header">
        <nav class="navbar container">
            <a href="{{ url_for('index') }}" class="nav-logo">GLAM NAILS MILANO</a>
            <ul class="nav-menu">
                <li><a href="{{ url_for('profile') }}">About me</a></li>
                <li><a href="{{ url_for('services') }}">Services</a></li>
                <li><a href="{{ url_for('gallery') }}">Gallery</a></li>
                <li><a href="{{ url_for('booking') }}" class="btn-cta">Prenotation</a></li>
            </ul>
        </nav>
    </header>

    <main class="page-content">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <div class="container flash-container">
                {% for category, message in messages %}
                <div class="flash-message {{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </main>
    
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    
    <script>
        AOS.init({
            duration: 800, // Длительность анимации
            once: true,    // Анимация проигрывается один раз
            offset: 50     // Отступ от низа экрана
        });
    </script>

    {% block scripts %}{% endblock %}

</body>
</html>