{% extends "base.html" %}
{% block title %}About me | GLAM NAILS MILANO{% endblock %}

{% block content %}
    <body>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
        <link rel="stylesheet" href="style.css">
        <title>MARGARITA</title>
        <div class="profile-card">
            
            <div class="profile-main-layout">
                
                <div class="profile-photo-col">
                    <img src="static/images/photo_2025-10-22_11-28-39.jpg" alt="Фото мастера" class="profile-avatar">
                </div>
                
                <div class="profile-details-col">
                    
                    <header class="profile-header-details">
                        <h1>MARGARITA</h1>
                        <p class="profile-title">ТOP SLAVIC SPECIALIST YOU'VE EVER DREAMED ABOUT</p>
                    </header>
                    
                    <section class="profile-section">
                        <h2><i class="fas fa-user"></i> My small description :)</h2>
                        <p>The most gentile beauty master</p>
                    </section>
                    
                    <section class="profile-section">
                        <h2><i class="fas fa-trophy"></i> Achievements</h2>
                        <ul class="achievements-list">
                            <li><i class="fas fa-star"></i><span>Победитель конкурса "Golden Nail 2024"...</span></li>
                            <li><i class="fas fa-certificate"></i><span>Сертифицированный мастер по аппаратному...</span></li>
                            <li><i class="fas fa-book-open"></i><span>Прошла 10+ курсов повышения...</span></li>
                            <li><i class="fas fa-users"></i><span>Более 1500 довольных клиентов...</span></li>
                        </ul>
                    </section>
                    
                    <section class="profile-section">
                        <h2><i class="fas fa-heart"></i> Why you should choose me</h2>
                        <div class="why-choose-me">
                            <div class="reason">
                                <h3><i class="fas fa-shield-virus"></i> Sterility 100%</h3>
                                <p>Full work-devices sterilization...</p>
                            </div>
                            <div class="reason">
                                <h3><i class="fas fa-gem"></i> Materils quality</h3>
                                <p>Work only with hippoallergic materials...</p>
                            </div>
                            <div class="reason">
                                <h3><i class="fas fa-comments"></i> Compfortable atosphere</h3>
                                <p>Cozy place for your hands <class="fas fa-heart">...</p>
                            </div>
                        </div>
                    </section>
                    
                </div> </div> </div> </body>
    </html>
{% endblock %}